{% extends 'calc/base.html' %}

{% block content %}
<div class="ab">
  <br>
  <p class="contacts">
    The estimation is based on average values. In many cases Arbitral
    Institutions may calculate fees differently taking into account all the
    parameters of a particular case.
  </p>
  <br>
  <p class="about">The estimation does not cover:</p>
    <div class="my-li">&#8227; the arbitrators’ expenses</div>
    <div class="my-li">&#8227; the parties’ expenses</div>
    <div class="my-li">&#8227; experts' fees and expenses</div>
    <div class="my-li">&#8227; interpreters’ fees and expenses</div>
    <div class="my-li">&#8227; hearing  room rental fees</div>
  <br>
  <p class="about">The estimation is based on the following rules:</p>
    <div class="my-li">&#8227; AIAC — 2018 Arbitration Rules and 2018 Fast Track Arbitration Rules</div>
    <div class="my-li">&#8227; CIETAC — 2015 Arbitration Rules</div>
    <div class="my-li">&#8227; DIS — 2018 Arbitration Rules</div>
    <div class="my-li">&#8227; HKIAC — 2018 Arbitration Rules</div>
    <div class="my-li">&#8227; ICAC — 2017 International Arbitration Rules</div>
    <div class="my-li">&#8227; KCAB — 2016 International Arbitration Rules</div>
    <div class="my-li">&#8227; RAC — 2019 Arbitration Rules</div>
    <div class="my-li">&#8227; RSPP — 2018 Arbitration Rules</div>
    <div class="my-li">&#8227; SCC — 2017 Arbitration Rules and 2017 Expedited Arbitration Rules</div>
    <div class="my-li">&#8227; SIAC — 2016 Arbitration Rules</div>
    <div class="my-li">&#8227; VIAC — 2018 Arbitration Rules</div>
  <br>
  <p class="about">All values are in US dollars. Exchange rates are updated once an hour.</p>
  <br>
  <p class="about">Contacts:</p>
  <div class="contacts">Martin Kroll</div>
  <div class="contacts">mrtnkrll@gmail.com</div>
  <br>
</div>
{% endblock %}
