{% extends 'calc/base-ru.html' %}

{% block content %}
<div class="ab">
  <br>
  <p class="contacts">
    Конечное решение о размере арбитражного сбора принимает арбитражное учрежение.
    Арбитражное учреждение с учетом обстоятельств конкретного спора может может прийти к решению об ином размере
    арбитражного сбора, чем приведен в результатах на сайте.
  </p>
  <br>
  <p class="about">Расчет не включает в себя:</p>
    <div class="my-li">&#8227; Расходы состава арбитража</div>
    <div class="my-li">&#8227; Расходы на экспертов и переводчиков</div>
    <div class="my-li">&#8227; Расходы на представителей</div>
    <div class="my-li">&#8227; Транспортные расходы</div>
    <div class="my-li">&#8227; Расходы на аренду помещений для слушаний</div>
    <div class="my-li">&#8227; Иные расходы сторон арбитража</div>
  <br>
  <p class="contacts">Рассчет основан на правилах арбитража:</p>
    <div class="my-li">&#8227; АЦ при РСПП — Арбитражный регламент (редакция от 21.07.2018)</div>
    <div class="my-li">&#8227; МКАС при ТПП РФ — Правила арбитража внутренних споров (редакция 13.05.2020)
      и Правила арбитража корпортаивных споров (редакция 13.05.2020)</div>
    <div class="my-li">&#8227; РАЦ при РИСА — Арбитражный регламент (редакция от 14.03.2019)</div>
  <br>
  <p class="about">Все суммы приведены в российских рублях.</p>
  <br>
  <p class="about">Контакты:</p>
  <div class="contacts">Мартин Кролл</div>
  <div class="contacts">mrtnkrll@gmail.com</div>
  <br>
</div>
{% endblock %}
